:root {
    /* Core Brand Colors */
    --color-primary: #514dcc; /* Royal Blue */
    --color-secondary: #a6dcef; /* Light Blue */
    --color-accent: #f39c12; /* Bright Orange */

    /* Neutral Colors */
    --color-heading: #000000; /* Black */
    --color-subheading: #808080; /* Gray */
    --color-body-text: #333333; /* Dark Gray */
    --color-background: #f7f9fc; /* Off-White */
    --color-white: white;

    /* Interactive States */
    --color-hover: #004494; /* Dark Blue for hover effects */

    /* Feedback Colors */
    --color-success: #28a745; /* Green */
    --color-error: #dc3545; /* Red */
    --color-warning: #ffc107; /* Yellow */

    /* Border and Dividers */
    --color-border: #d1d5db; /* Light Gray */
}
